.App {
  text-align: center;
  background-color: #ffffff;
  /* background-color: linear-gradient(
    135deg,
    rgb(202, 248, 128) 0%,
    rgb(113, 206, 126) 100%
  ); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --off-white: #ffffff;
  --off-black: #ffffff;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
.nav-dark {
  background-color: var(--off-black);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  min-width: 80%;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-dark .nav-content {
  min-width: 80%;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section {
  display: flex;
  flex: 1;
  color: #123c69;
  min-height: 796px;
  max-width: 100%;
}

.section-dark {
  background: #faf9f6;
  min-height: 796px;
  max-width: 100%;
  color: maroon;
  display: flex;
  flex: 1;
}
.section-end-color {
  background: #edc7b7;
  max-width: 100%;
  color: maroon;
  display: flex;
  flex: 1;
}
.section-whole {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}
.project-whole {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.section-picture {
  flex-direction: column;
}

.section-content {
  /* max-width: 800px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
}
.section-content-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inner {
  height: 100px;
  line-height: 100px;
}

/*WEbsite css for home page*/

.Home {
  background-color: #ffc4eb;
  padding-top: 10px;
  text-align: center;
  min-height: 80rem;
}
.AboutMeButton {
  border-width: 1px;
  width: 150px;
  height: 30px;
  border-color: black;
  border-style: solid;
  color: #bcd3f2;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #000;
  background-color: #80a4ed;
  padding: 5px;
  border-radius: 20px;
}
.AboutMeButton:hover {
  border-style: solid;
  color: white;
}

.GithubButton {
  color: #000;
}
.GithubButton:hover {
  color: darkgrey;
}
h1 {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 600;
  font-size: 40px;
}
p {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.011em;
  line-height: 1.1904761905;
  color: #000;
}

.lottie-navbar {
  width: 80px;
}

.contact {
  text-align: left;
}
.circle-image {
  width: 150;
  height: 150;
  borderradius: 150 / 2;
  overflow: hidden;
  borderwidth: 3;
  bordercolor: red;
}
